/*==============================================================================*/
// Inputs

.input
input[type=text]
input[type=password]
input[type=url]
input[type=email]
input[type=search]
input[type=tel]
input[type=number]
input[type=datetime-local]
textarea
select
  -webkit-appearance none

  border 1px solid ibc
  vertical-align top
  padding x*0.25 - 1px 0.5rem

  df()
  line-height x*1.5
  border-radius 0
  display block
  width 100%

  &:disabled
    color dim
    text-shadow none
    box-shadow none
    background mbg

.input:focus
input:focus,
textarea:focus
select:focus
  box-shadow 0 0 x*0.5 lighten(mcolor,75%)
  border-color link

input[type=text]
input[type=password]
input[type=url]
input[type=email]
input[type=search]
input[type=tel]
input[type=number]
input[type=datetime-local]
  height 2rem

textarea
  height 8rem

/*==============================================================================*/
// Addons

.input-group-addon
  background mbg
  border 1px solid ibc
  border-left none
  padding 0 0.5rem

  color dim
  line-height x*2 - 2px
  font-size 0.75rem

@media screen and (min-width: 360px)
  .input-group-addon
    font-size 1rem

/*==============================================================================*/
// Placeholder Text

/* WebKit, Blink, Edge */
::-webkit-input-placeholder
  color placeholder-color

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder
  color placeholder-color
  opacity 1

/* Mozilla Firefox 19+ */
::-moz-placeholder
  color placeholder-color
  opacity 1

/* Internet Explorer 10-11 */
:-ms-input-placeholder
  color placeholder-color

/* Standard (https//drafts.csswg.org/selectors-4/#placeholder) */
:placeholder-shown
  color placeholder-color
