.form
  border-top 1px solid bc
  border-bottom 1px solid bc
  margin-left auto
  margin-right auto

  &.form-narrow
    max-width 32rem

.form-header, .form-footer
  padding 1rem

.form-header
  border-bottom 1px dotted bc

  .title
    font-weight bold
    text-transform uppercase

  .subtitle
    color dim
    margin-top 0.25rem
    &:first-of-type
      margin-top 0
    strong
      color txt
      font-weight bold

.form-footer
  display flex
  justify-content space-between
  align-items center

.form-group
  background c-app-fg
  padding 0.5rem 1rem
  border-bottom 1px dotted bc
  label
    display block
    font-size 0.66666rem
    text-transform uppercase
    color light
    font-weight bold
    padding 0.667rem 0 0.333rem
    line-height 1rem

  .pz-input
    margin-bottom 0.5rem

  .pz-form-msg-error
    display none

  &.form-group-error
    .pz-input
      border-color #f00
    .pz-form-msg-error
      display flex

.input-group
  display flex
  margin-bottom 0.5rem

  .pz-input, .pz-button
    flex 5
    margin 0

  .pz-button
    max-width 15rem

  .input-group-addon
    flex 1

@media screen and (min-width: 360px)
  .form
    .form-header, .form-footer
      padding 1.25rem
    .form-group
      padding 0.625rem 1.25rem
    .form-header
      .title
        font-size 1.125rem

@media screen and (min-width: 360px)
  .form
    .form-header, .form-footer
      padding 1.5rem
    .form-group
      padding 0.725rem 1.5rem
    .form-header
      .title
        font-size 1.25rem

@media screen and (min-width: 512px)
  .form
    border 1px solid bc

@media screen and (min-width: 720px)
  .form
    margin-bottom 3rem
