.form
  background c-app-fg
  margin 0.5rem
  box-shadow hsla(0,0,0,0.1) 0 1px 3px

  &.form-narrow
    max-width 32rem

.form-header, .form-footer
  padding 1rem

.form-header
  border-bottom 1px dotted bc

  .title
    font-weight bold

  .subtitle
    color dim
    &:first-of-type
      margin-top 0
    strong
      color txt
      font-weight bold

.form-footer
  display flex
  justify-content space-between
  align-items center

.form-group
  background c-app-fg
  padding 0.5rem 1rem
  border-bottom 1px dotted bc
  label
    display block
    font-size 0.875rem
    font-weight 500
    padding 0.667rem 0 0.333rem
    line-height 1.25
    margin-bottom 0.375rem

  .ni-field
    margin-bottom 0.5rem

  .ni-form-msg-error
    display none

  &.form-group-error
    .ni-field
      border-color #f00
    .ni-form-msg-error
      display flex

.input-group
  display flex
  margin-bottom 0.5rem

  .ni-field, .ni-btn-wrapper
    flex 5
    margin 0

  .ni-btn-wrapper
    max-width 15rem

  .ni-field + .ni-btn-wrapper
    flex 1

  .ni-field + .ni-btn-wrapper .ni-btn
    border-left none

  .input-group-addon
    flex 1

@media screen and (min-width: 360px)
  .form
    .form-header, .form-footer
      padding 1.25rem
    .form-group
      padding 0.625rem 1.25rem
    .form-header
      .title
        font-size 1.125rem

@media screen and (min-width: 400px)
  .form
    .form-header, .form-footer
      padding 1.5rem
    .form-group
      padding 0.725rem 1.5rem
    .form-header
      .title
        font-size 1.25rem


@media screen and (min-width: 32rem)
  .form
    margin 0.666rem auto

@media screen and (min-width: 1024px)
  .form
    margin 0.75rem auto
