.section-default
  background c-app-bg

  .section-container
    padding x 0
    max-width 1200px
    margin 0 auto

    &:empty
      display none

    .section-header
      display flex
      align-items center
      justify-content center
      text-align center
      padding x x 0

      i.fa
        font-size 1.25*x
        margin-right 0.5*x
        color link

      h2
        font-weight 600
        color mcolor
        max-width 44*x

    .section-content
      padding x
      &:empty
        display none

@media screen and (min-width: 360px)
  .section-default
    .section-container
      .section-header
      .section-content
        padding-left 1.5*x
        padding-right 1.5*x

@media screen and (min-width: 400px)
  .section-default
    .section-container
      .section-header
        h2
          font-size 1.25*x

@media screen and (min-width: 720px)
  .section-default
    .section-container
      padding 2*x 0
      .section-header
        padding-bottom 2*x
        h2
          font-size 1.5*x
