.toc-hidden-bar
  z-index 101
  position fixed
  top 3*x + 0.5*x
  right 0.5*x
  bottom 0.5*x
  width 2*x
  max-height 100vh
  border 1px solid bc

  background c-app-bg

  text-align center
  cursor pointer

  i.fa
    font-size x
    line-height 2*x

  &:hover
    i.fa
      color link

@media screen and (max-width: 959px)
  .toc-hidden-bar
    width 3*x
    height 3*x
    border-radius 1.5*x

    top auto
    left auto
    bottom 0.5*x
    right 0.5*x

    display flex
    align-items center
    justify-content center
    
    background alpha(c-app-bg,85%)

    i.fa
      font-size 1.5*x
