@require './variables.styl'
@require './vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

body
  df()
  background c-app-bg
  padding-top 3rem
  -webkit-text-size-adjust 100%

a
  color link
  text-decoration none

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

strong
  font-weight 600

em
  font-style italic

.ni-page-header
  border-bottom none

@media screen and (min-width: 960px)
  .mobile-only
    display none

.hidden 
  position absolute
  left -10000px
  top auto
  width 1px
  height 1px
  overflow hidden

.page-user .ni-form
  margin 0 auto
